@import "tailwindcss";

<<<<<<< Updated upstream
.footer-icon {
  @apply w-6 h-6 fill-[#111];
}
=======
@font-face {
  font-family: "NueueHaas";
  src: url("./fonts/NeueHaasDisplayRoman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NueueHaas";
  src: url("./fonts/NeueHaasDisplayMediu.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NueueHaas";
  src: url("./fonts/NeueHaasDisplayBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: "NueueHaas", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
>>>>>>> Stashed changes
